@{
    ViewBag.Title = "About the NI MOT System";
    ViewBag.Message = "This is a web based application that gives browser access to a list of MOT centres and associated appointments in NI.";
}

<h2><b>@ViewBag.Title</b></h2>
<h3>@ViewBag.Message</h3>

@{
    ViewBag.Message = "All Test Centres and appointments are acccessed through records stored in a database";
}

<h3>@ViewBag.Message</h3>

<p>The NI MOT System offers various functionality as shown below:<br>
    1. Viewing all MOT centres (Sorted by name) and associated appointments (sorted by date)<br>
    2. Viewing details for a specific MOT centre or appointment<br>
    3. Adding a new MOT centre or appointment<br>
    4. Editing details for an existing MOT centre or appointment<br>
    5. Deleting an MOT centre or appointment
</p>
