@{
    ViewBag.Title = "Contact Us";
    ViewBag.Message = "Address and Telephone Number:";
}
<h2><b>@ViewBag.Title</b></h2>
<h3>@ViewBag.Message</h3>

<address>
    23 Parkway Drive,<br />
    Derry, BT48 9HZ<br />
    <abbr title="Phone">P:</abbr>
    058 970 66382
</address>

<address>
    <strong>Our Support Team:</strong>   <a href="mailto:Support@example.com">NIMOT-Support@gmail.com</a><br />
    <strong>Our Marketing Team:</strong> <a href="mailto:Marketing@example.com">NIMOT-Marketing@gmail.com</a>
</address>